<!DOCTYPE html>
html
	include ../components/example/example.pug
	include ../components/head/head.pug

	head
		+head(head.default)
		link(rel="stylesheet", href="static/css/main.css")
			
	body
		+example(example)

		script(src="static/js/main.js")
